<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <div class="frame">
        <div class="id1-120"></div>
        <div class="id1-125">
            <p class ="id1-126"></p>
        </div>
    </div>
    <script>window.mockData = <%- JSON.stringify(mockData) %>;</script>
    <script type="module" src="/main.js"></script>
</body>
</html>