body {
    background-color: black;
}
.frame {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 393px;
    height: 852px;

    background-color: #FAFAFA;
    
    border-radius: 32px;
}

.id1-120{
    position: absolute;
    left: 16px;
    top: 662px;

    width: 361px;
    height: 46px;

    background-color: red;
}